@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,300&display=swap');

/*-----Base and Layout Styles-------*/

* {
    box-sizing: border-box;
}

body {
    font-family: "Merriweather", serif;
    text-align: center;
}

form {
    margin: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    max-width: 100%;
    background-color: #ffffff;
    text-align: left;
    border-radius: 0 0 10px 10px;
    border-top: 2px solid black;
}

label {
    display: inline-block;
}

fieldset {
    border: none;
}

button {
    display: block;
    margin: auto;
    width: 90%;
    background-color: rgb(10, 204, 204);
    color: #fff;
    font-size: 1.2em;
    font-weight: 800;
    border-radius: 5px;
    height: 60px;
}

.main-header {
    background: #000000;
    color: white;
    margin-top: 0;
    padding: 10px 0 10px 0;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}

p,
label {
    color: #000;
    font-weight: 100;
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 5px;
}

.heading {
    max-width: 100%;
    padding: 0 35px 25px 35px;
    margin: auto;
    margin-bottom: 3px;
    text-align: center;
}

.footer {
    text-align: center;
    margin: 20px auto 140px;
    font-style: italic;
    font-size: .8em;
}

/*------ Inputs ------*/

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
    background: rgb(243, 237, 237);
    height: 40px;
    width: 70%;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: right;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder {
    text-align: right;
    opacity: .4;
}

input[id="zip-code"] {
    display: block;
    width: 30%;
}

.information {
    display: flex;
    border-bottom: 2px solid #000;
    margin-bottom: 20px;
}

legend {
    color: #000;
    font-size: 1.2em;
    font-weight: 800;
    margin-bottom: 15px;
}

.details,
select {
    color: rgb(194, 181, 181);
}

textarea {
    height: 100px;
    width: 100%;
}

input[type="radio"],
input[type="checkbox"] {
    height: 15px;
    width: 15px;
}


.newsletter {
    line-height: 2;
}

.newsl {
    padding-left: 10px;
}

input:focus,
textarea:focus {
    border: 5px solid #000;
    transition: background-color 1s ease-in;
    background-color: #4fd1c6;
}

input,
textarea{
    transition: background-color 2s ease-out;
}

.information .flex-pair {
    display: flex;
    flex-direction: column;
}

.information .contact {
    margin-bottom: 10px;
}

/*-------Media Quaries-------*/

@media (min-width:768px) {

    .information .flex-pair {
        flex-direction: row;
    }

    form {
        width: 50%;
        max-width: 500px;
        margin: auto;
        margin-top: 3px;
     }
    
     .flex-wrapper{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
     }

     .flex-pair {
        display: flex;
        background-color: #ffffff;
        width: 100%;
        margin-bottom: 15px;
     }
     .flex-pair input,
     .flex-pair select {
         margin-bottom: 0;
     }

     .contact {
         width: 30%;
         align-self: center;
     }
    
     .main-header {
        width: 100%;
        margin: auto;
     }

}